# {{ ansible_managed }}

upstream {{ item.backend_name }} {
    {% if item.balancer_config is defined %}
    {{ item.balancer_config }}
    {% endif %}
    {% for backend in item.backends %}
    server {{ backend }};
    {% endfor %}
}

server {
    listen 80;
    server_name {{ item.domains|default("_") }};
    location / {
        {% if item.auth_basic_file is defined %}
        auth_basic           "Basic Auth";
        auth_basic_user_file {{ item.auth_basic_file }};
        {% endif %}

        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   Host      $http_host;

        proxy_pass         http://{{ item.backend_name }};
        proxy_redirect     off;
        proxy_buffering     off;
    }

    location /health {
        return 200 'OK';
        add_header Content-Type text/plain;
    }
}
